@charset "UTF-8";

body {
    background-color: transparent;
    height: 100vh;
    font-family: 'Muli', sans-serif;

}

.grid-container {
    display: grid;
    height: 100vh;
    align-content: center;
    justify-content: center;
}

.medio {
    text-align: center;

}

.centroLogin {

    width: 280px;
    min-height: 250px;
    background-color: rgb(192, 192, 192);
    border-radius: 20px;
    border: inset;
    font-size: large;

}

.register {
    padding-bottom: 24px;
}

.signUp {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -126px;
    width: 250px;
    min-height: 250px;
    background-color: rgb(192, 192, 192);

    border-radius: 20px;

}

#textoUser {
    text-align: justify;
    padding-left: 1em;
}

#textoContrasena {
    text-align: justify;
    padding-left: 1em;
}

#user {
    border: 2px solid grey;
    border-radius: 10px;
    background-image: url("images/user.png");
    background-position: 185px 1px;
    background-repeat: no-repeat;


}

#password {
    border: 2px solid grey;
    border-radius: 10px;
    background-image: url("images/password.png");
    background-position: 185px -1px;
    background-repeat: no-repeat;
}